<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.blockchain.store.playmarket">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_by_gradle"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities=".fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ui.intro_logo_activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/whiteStatusBarStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login_screen.LoginPromptActivity"
            android:screenOrientation="portrait"
            android:theme="@style/whiteStatusBarStyle" />
        <activity
            android:name=".ui.account_management_activity.AccountManagementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.new_user_welcome_activity.NewUserWelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/whiteStatusBarStyle" />
        <activity
            android:name=".ui.main_list_screen.MainMenuActivity"
            android:label="@string/title_activity_main_menu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.permissions_prompt_activity.PermissionsPromptActivity"
            android:screenOrientation="portrait"
            android:theme="@style/whiteStatusBarStyle" />

        <service
            android:name=".services.PurchaseVerifierService"
            android:exported="true" />
        <service
            android:name=".services.DownloadService"
            android:exported="true" />

        <activity
            android:name=".ui.app_detail_screen.AppDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="" />

        <receiver android:name=".broadcasts.InstallPackageReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_INSTALL" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_CHANGED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_NEEDS_VERIFICATION" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.search_screen.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings_screen.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.library_screen.LibraryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.about_screen.AboutAppActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c9546f35cbfcc932887cc4166668464f6715b155" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".ui.invest_screen.InvestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.file_manager_screen.FileManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.transfer_screen.TransferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.exchange_screen.ExchangeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".utilities.QRCodeScannerActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.blockchain.store.PurchaseSDK.services.RemoteService"
            android:exported="true" />

        <activity
            android:name=".ui.fingerprint_screen.FingerprintConfiguringActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.unlock_account_screen.UnlockAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity_screen.NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my_apps_screen.MyAppsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.my_ico_screen.MyIcoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.webview_screen.WebViewActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".check_transation_status_beta.GetTransactionStatusJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".services.NotificationService" />

        <activity
            android:name=".ui.transaction_history_screen.TransactionHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tokens_screen.TokenListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.add_token_screen.AddTokenActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>